  .bmpui-ui-hugereplaybutton {
    height: 4em;
    outline: none;
    width: 5em;
    position: relative;
  }
  .bmpui-ui-hugereplaybutton::after {
    color: #FFFFFF;
    content: "Replay";
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    position: absolute;
    left: 0em;
    right: 0em;
  }
  .bmpui-ui-hugereplaybutton .bmpui-image {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M22.8,9.1C19,5.2,12.7,5.1,8.7,8.9V7.1c0-0.6-0.4-1-1-1s-1,0.4-1,1v4.5c0,0.6,0.4,1,1,1h4.5c0.6,0,1-0.4,1-1 s-0.4-1-1-1H9.8c1.6-1.6,3.7-2.5,5.9-2.5c4.4,0,8,3.7,8,8.1s-3.7,8-8.1,8c-3.5,0-6.5-2.3-7.6-5.4l0,0C7.9,18.4,7.5,18,7.1,18 c-0.5,0-1,0.4-1,1c0,0.1,0,0.2,0.1,0.3l0,0l0,0l0,0c0.5,1.3,1.2,2.5,2.2,3.5c3.8,4,10.1,4.1,14.1,0.3C26.5,19.5,26.6,13.2,22.8,9.1z '/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    height: 100%;
    width: 100%;
  }

  .bmpui-ui-playnextbutton {
    height: 4em;
    outline: none;
    width: 5em; 
    position: relative;
  }

  .bmpui-ui-playnextbutton::after {
    color: #FFFFFF;
    content: "Next";
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    position: absolute;
    left: 0em;
    right: 0em;
  }

  .bmpui-ui-playnextbutton .bmpui-image {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 32 32' style='enable-background:new 0 0 32 32;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M22.8,9.1C19,5.2,12.7,5.1,8.7,8.9V7.1c0-0.6-0.4-1-1-1s-1,0.4-1,1v4.5c0,0.6,0.4,1,1,1h4.5c0.6,0,1-0.4,1-1 s-0.4-1-1-1H9.8c1.6-1.6,3.7-2.5,5.9-2.5c4.4,0,8,3.7,8,8.1s-3.7,8-8.1,8c-3.5,0-6.5-2.3-7.6-5.4l0,0C7.9,18.4,7.5,18,7.1,18 c-0.5,0-1,0.4-1,1c0,0.1,0,0.2,0.1,0.3l0,0l0,0l0,0c0.5,1.3,1.2,2.5,2.2,3.5c3.8,4,10.1,4.1,14.1,0.3C26.5,19.5,26.6,13.2,22.8,9.1z '/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    height: 100%;
    width: 100%; }
